/* ------------------------------------------------ */
/* basic setup */ 
/* ------------------------------------------------ */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    color: rgb(255, 255, 255);
    font-family: 'lato', 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-color: black;
    text-align: center;
}

/* ------------------------------------------------ */
/* REUSABLE COMPONENTS */ 
/* ------------------------------------------------ */
body{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position:50% 50%;
    image-rendering: auto; /*The image-rendering CSS property sets an image scaling algorithm */   
}

h1,h2{
    text-transform: uppercase;
}

h1{
    padding-top: 1%;
}

h2{
    margin-bottom: 50px;
    border-bottom: 1px solid white;
    width: 50%;
    padding-bottom: 5px;
    margin-left: 25%; 
    margin-right: 25%; 
}


h3{
    margin-bottom: 10px;
}

h1,h2,h3,h4,h6{
    letter-spacing: 1px;
    text-align: center;
}

h4::after{
    display: block;
    height: 2px;
    background-color: #ffffff;
    content: " " ; /* no content */
    text-align: center;
    width: 100px;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 20px;
}


.row {
    max-width: 100vw;
    margin: 0 , auto;
}

p{
    text-align: center;
    padding: 1% 20%;
    
}

li{
    word-spacing: 1px;
    letter-spacing: 0.5px;
    list-style: none;
}

a{
    text-decoration: none;
}

a:link,
a:visited{
    color: rgb(253, 171, 48);
    transition: color 0.2s;
}

a:hover,
a:active{
    color: rgb(212, 100, 35);
}
section:last-child{
    padding-bottom: 50px;
}


/* ------------------------------------------------ */
/* HEADER */ 
/* ------------------------------------------------ */

.main-links{
    /* background: transparent; */
    padding-top: 1%;
    padding-bottom: -3%;
    text-align: center;
}

.main-links li div{
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 80%;
    transition: color 0.4s ,border 0.2s;
}

.main-links li div:hover,
.link_active{
    font-size: 81%;
    color: rgb(84, 213, 245);
    border-bottom: 1.5px solid rgb(212, 100, 35);
    padding-bottom: 3px;
}

.main-links li{
    display: inline-block
}

.profile_pic{
    background: transparent;
    border-radius: 40px;
    height: 15%;
    vertical-align: middle;
}


/* ------------------------------------------------ */
/* MYSELF */ 
/* ------------------------------------------------ */

.agenda{
    color : rgb(231, 144, 29) ;
    line-height: 200%;
}

.Myself h2{
    padding-top: 4%;
    margin-bottom: 1%;
}

.Myself:last-child{
    padding-bottom: 20px;
}

.icon_happy{
    vertical-align: middle;
    margin-top: -0.3%; 
    margin-left: 1% 
}


/* ------------------------------------------------ */
/* EDUCATION */ 
/* ------------------------------------------------ */


.IDC{
    margin-bottom: 40px;
}

.grades_ul li{
    padding-bottom: 10px;   
}

.schools{ 
    margin-top: 10px;
}


.gradesList{
    margin-bottom: 15px;
    text-decoration: underline;
}


.IDC_list li,
.Hayovel_list li{
    line-height: 350%;
}

.IDC_list li::before,
.Hayovel_list li::before{
    content: "■ ";
    color: rgb(84, 213, 245); /* or whatever color you prefer */
    padding-right: 1%; 
}



/* ------------------------------------------------ */
/* MILITARY */ 
/* ------------------------------------------------ */


.Military_list li{
    padding-bottom: 20px;
}

.Military .row .col div{
    font-size: 90%;
}

.military_intro{ 
    margin-bottom: 35px;
}

.military_couple{
    margin: 5% auto;
}

.army_pics{
    margin-top: 5%;
    width: 70%;
    height: 50%;
}
.militay_list li::before{
        content: "■ ";
        color: rgb(219, 107, 15); /* or whatever color you prefer */
}

.militay_list li{
    line-height: 30px;
    padding-left: 1%;
}

/* ------------------------------------------------ */
/* PROGRAMMING */ 
/* ------------------------------------------------ */


.intermediate li,
.highly li{
    padding-bottom: 5px;
}


.udemy_courses{
    margin-top: 30px;
}

.udemy_courses li{
    padding-bottom: 20px;
}

.github_link {
    margin-left: 20px;
}

.Github h3{
    margin-bottom:20px;
}

.Github{
    margin-top:20px;
}

.Udemy h3::after{
    display: block;
    height: 2px;
    background-color: #ffffff;
    content: " " ; /* no content */
    text-align: center;
    width: 100px;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.github_icon{
    height : 40px;
    width: 40px;
    vertical-align: middle;
}

/* ------------------------------------------------ */
/* ACHIEVMENTS */ 
/* ------------------------------------------------ */

.Achievements_row{
    padding-left: 3%;
}
.Achievements p{
    margin-top: 30px;
    padding: 0%;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 30px;
}

.about_course{
    margin-top: 30px;
}

.young_pic{
    margin-top: 6%;
    height: 34%;
    width: 75%;
    margin-bottom: 14px;
}

.robocup_pic{
    margin-top: 12.5%;
    height: 34.5%;
    width: 80%;
    margin-bottom: 14px;
}

.video_techkiz{
    margin-top : -5%;
    margin-bottom: 2%;
    vertical-align: middle;
    padding: 7%;
    width: 100%;
    height: 36%;
}

.techkiz_text,
.young_text{
    color: rgb(235, 229, 228);
    margin-top: -3%; 
}

.techkiz_text::after,
.young_text::after{
    display: block;
    height: 2px;
    background-color: #ffffff;
    content: " " ; /* no content */
    text-align: center;
    width: 30%;
    margin: 0px auto;
    margin-top: 4px;
    margin-bottom: 10%;
}


/* ------------------------------------------------ */
/* HOBBIES */ 
/* ------------------------------------------------ */


.hobbie{
    margin-bottom: 70px;
}

.Hobbies h5{
    font-size: 80%;
    font-weight: 500;
    margin-top :4%;
}

.piano_competition{
    margin-bottom: 5%;
    margin-top: 5%;
    width: 80%;
    height: 40%;
}

.me_piano{
    margin-top: 5%;
    width: 80%;
    height: 40%;
    margin-right: 3%;
}

.diving_pics,
.surfing_pics,
.tennis_pics{
    margin-top: 6%;
    width: 70%;
    height: 40%;
}
.memories_never_die_audio,
.Surfing{
    margin-top: 5%;
}

.memories_never_die_audio{
    width: 80%;
}


/* ------------------------------------------------ */
/* CONTACT */ 
/* ------------------------------------------------ */
.contact_icon{
    margin: 50px auto 20px auto;
    height: 40px;
    width: 40px;
}

.linkedin,
.facebook,
.mail,
.call{
    color: rgba(86, 178, 221, 0.938);
    border-style: inset;
    border-color: #636161;
    padding: 10px;
}


.contact_phone_number,
.contact_email,
.contact_facebook,
.contact_linkedin{
    color: rgb(253, 171, 48);
}

/*          -------------- slide show --------------             */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 40%;
    height: 20%;
    margin-top: 5%;
    float: none;
}

.memories_never_die_img{
    margin-left: 75%;
    margin-top: 2%;
} 

/* Hide the images by default */
.mySlides {
  display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3%;
  width: 3%;
  margin: 0% 1%;
  margin-top: 33%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}