$color-primary: #fff;
$color-on-primary: #000;
$color-background: #151515;
$color-background-secondary: #3c415c;
$color-background-secondary-rgb: (60, 65, 92);
$app-border: #3d3d3d;
$app-dark-gray: #343a40;
$app-light-gray: rgba(36, 36, 49, 0.82);
$link-color: #0d6efd;
