$color-primary: #000;
$color-on-primary: #fff;
$color-background: #e4e8e8;
$color-background-secondary: #aeb0ae;
$color-background-secondary-rgb: (174, 176, 174);
$app-border: #838383;
$app-dark-gray: #343a40;
$app-light-gray: #e3e2e2;
$link-color: #0d6efd;
