<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <img class="palo-alto-image" src='/assets/images/paloaltonetworks.png'>
    <h1 id="main_header"><img src="/assets/images/logo.png"></h1>
    <input type="text" placeholder="@USERNAME">
      <div class="foodies-container">
        <app-card cardType='what' title='What' circleDirection='left'></app-card>
        <app-card cardType='when' title='When' circleDirection='middle'></app-card>
        <app-card cardType='where' title='Where' circleDirection='right'></app-card>
    </div>
    <button type="submit">Send</button>
  </body>
</html>