<div class="website-wrapper">
  <app-navigation-header *ngIf="showNavigationMenu" class="app-navigation-side small-screen-only" (appClickOut)="toggleMenu()" (navigationClicked)="toggleMenu()" @fadeInOut></app-navigation-header>
  <div class="menu-icon small-screen-only">
    <img src="assets/svg/menu.svg" alt="menu" (click)="toggleMenu()" />
  </div>
  <app-navigation-header class="app-navigation-top wide-screen-only"></app-navigation-header>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>
