@use 'mixins';

.modal-header {
  border-bottom: 1px solid var(--app-border);
}

.expanded-view-item {
  @include mixins.flex();
  align-items: flex-start;
  height: 600px;

  .paintings {
    width: 50%;
    height: 100%;
    padding: 10px;
    background-image: linear-gradient(to top left, var(--app-light-gray), var(--color-on-primary), var(--background));
  }

  .item-info-container {
    @include mixins.flex(true);
    width: 50%;
    height: 100%;
    align-items: center;
    padding: 10px 10px 20px 10px;

    .item-info-section {
      width: 90%;
      padding-top: 20px;

      &-title {
        padding-bottom: 20px;
        text-decoration: underline;
      }

      &-description {
        max-height: 200px;
        overflow: auto;
      }

      &-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;

        .key {
          font-weight: bold;
          grid-column: 1;
        }

        .value {
          grid-column: 2;
        }
      }

      .dimensions-note {
        padding-top: 20px;
      }

      &:not(:nth-last-child(2)) {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--app-border);
      }
    }

    .modal-bottom {
      @include mixins.flex();
      align-items: center;
      justify-content: space-around;
      margin-top: auto;
      width: 100%;

      .item-color-picker {
        @include mixins.flex();
        align-items: center;
        position: relative;
        flex-basis: 200px;
        flex-shrink: 0;

        &-button {
          padding-right: 10px;
        }
      }
    }
  }
}
