@use 'mixins';

.social-media-contact-wrapper {
  @include mixins.flex();
  height: 100%;
  align-items: center;

  .social-media-logo {
    cursor: pointer;
    height: 25%;
    margin: 0 10px;
  }
}
