<main class="about-me">
  <app-carousel class="carousel" [carouselImages]="carouselImages"></app-carousel>
  <div class="about-me-info">
    <h4>Leonie Kozitsa-Fix</h4>
    <p>
      Creativity was always a big part of my life, ever since I can remember, it’s in my genes and a part of who I am. I have always looked at the world as a place full of colors and opportunities. Even in my mind, I often wander to another world
      full of different colors and whatnot. Once I started school I had to repeat the 1st class because I would first draw all over the paper and only afterward would do the calculations. In about 4th or 5th grade I understood that I need to focus on
      my academics to get into the Sek A level and I had to push my creativity far away to succeed, since our system is built that way, I was always told that you need the education to succeed in life. And so I did, I worked very hard on my
      academics, I changed to a private school in Zurich for my 7th and 8th grade until my family moved to America. In America, I focused on learning English and building up friendships until one day my mother came home with a whole bag of acrylic
      colors and canvases. She had taken an art course and was disappointed that the entire course was the theory of acrylic and she just really wanted to paint and try it out. When I saw all these colors, a deep desire that I had pushed away for
      many years rose and all I wanted was to try out all the different colors. Since that day I haven’t stopped painting with acrylic. I have always wanted to try out other painting materials but there was something about acrylic that took the
      pressure of performance off of me. If I made a mistake or I didn’t like something I could just overpaint the painting and make something completely new. I could mix all sorts of colors and it all fit and looked good. When we moved back to
      Switzerland, 5 years later, I decided to bring my paintings to a flower store and ask if I could sell them there. Since they preferred flower paintings, I made a lot of them, which I loved, since I was able to use all sorts of colors and it
      would still fit and look natural, since we’re blessed with so many colors in our lives. I continued with my studies and went towards psychology, but art has always been there for me, when I felt tired when I felt sad when I felt stressed, and
      when I just wanted to dive into another world.
    </p>
  </div>
</main>
